.main-header{

    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #333;

    @include respond(phone){
        flex-direction: column;
    }

    &__headline{
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .1rem;
        
        @include respond(phone){
            margin-bottom: 1rem;
        }
    }
}

.user-display{
    display: flex;
    align-items: center;

    &__img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 0 1rem;

        @include respond(phone){
            height: 4rem;
            width: 4rem;
        }
    }

    &__name{
        letter-spacing: .4rem;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1rem;

        @include respond(phone){
            font-size: 1.2rem;
        }
    }

    
}

.input-area{
    background-color: #333;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

    @include respond(tab-land){
        padding: 3rem 0;
    }

    &__label{
        position: relative;
        display: inline-flex;
        justify-content: center;  
        align-items: center;     
        margin: 0 auto;
        width: 80%;
        max-width: 50rem;
    }

    &__label-text{
        position: absolute;
        font-size: 1.4rem;
        left: 2rem;
        transition: .3s all;

        @include respond(tab-land){
            font-size: 1.6rem;
        }
    }

    &__input:focus + &__label-text{
        transform: translateY(-2.4rem);
        color: #fff;

        @include respond(tab-land){
            transform: translateY(-3.4rem);
        }
    }

    &__input{
        border-radius: 5px;
        font-size: 1.4rem;
        border: none;
        width: 100%;
        background: #eee;
        padding: .5rem 2rem;
        padding-right: 4rem;
        outline: none;

        @include respond(tab-land){
            font-size: 1.6rem;
            padding: 1rem 2rem;
            padding-right: 5rem
        }
    }

    &__icon{
        padding: 0 .5rem;
        margin-left: -2.5rem;
        background: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;

        @include respond(phone){
            padding: 0 1rem;
            margin-left: -4rem;
        }

        & > svg{
            width: 2rem;
            height: 2rem;
            transition: all .3s;

            @include respond(phone){
                width: 3rem;
                height: 3rem;
            }
        }

        &:hover{
            & > svg{
                transform: scale(1.1);
            }
        }
       
    }
}


.playlists-display{
    background: #333;
    padding: 2rem;

    &__title{
        color: #fff;
        font-size: 2rem;
        margin-bottom: 1rem,
    }

    &__playlist-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: .8rem;

        @include respond(phone){
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 1.4rem;
        }
    }
}

.playlist-preview{
    color: #fff;
    position: relative;
    border-radius: 1rem;
    background: #222;

    &__title{
        flex: 1;    
        
 
    }

    &__image{
        width: 100%;
        height: auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__info{
        display: flex;
        font-size: 1rem;
        align-items: center;
        padding: .2rem .5rem;
        margin-bottom: .3rem;
        @include respond(phone){
            padding: .4rem .6rem;
        }
    }

    &__track-count{
        @include respond(phone){
            font-size: 1rem;
        }
    }

    &__overlay{
        position: absolute;
        top: 0; 
        width: 100%;
        left: 0;
        height: 100%;
        background: rgba(0,0,0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        
        visibility: hidden;
        transition: 0.5s background;
        padding: 1rem;
        border-radius: 1rem;
    }

    &__overlay-button{
        border: none;
        display: block;
        text-decoration: none;
        padding: .6rem .5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        outline: none;
        transform: translateY(-2rem);
        background: #fff;
        cursor: pointer;
        border-radius: .5rem;
        opacity: .9;

        width: 60%;
        text-align: center;

        @include respond(phone){
            font-size: 1.4rem,
        }
    }

    &:hover &__overlay{
        visibility: visible;
        background: rgba(0,0,0, .5);
    }
}

.category-display{
    position: relative;
    cursor: pointer;

    &__image{

       width: 100%;
       border: 2px solid #eee;

    }

    &__title{
        position: absolute;
        top: 1.8rem;
        color: #fff;
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }
}

.game-page{
    background: #333;
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 20vh;
    flex-direction: column;

    & > h1{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.song-display{
    height: 100%;
    &__title{
        font-size: 3.5rem;
        width: 90vw;
        max-width: 80rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: .2rem;
        margin-bottom: 1rem;

        @include respond(phone){
            font-size: 3.5rem;
        }
    }

    &__text{
        text-align: center;
        font-size: 1.4rem;

        @include respond(phone){
            font-size: 1.6rem;
            letter-spacing: .1rem;
            font-weight: 100;
        }
    }

    &__answer{
        background: #555;
        padding: 2rem;
        text-align: center;
        border-radius: 1rem;
        margin: 2rem;
        filter: none;

        @include respond(phone){
            margin: 4rem 0;
        }
        
        &--hidden{
            filter: blur(8px);
        }
    }

    &__control{
        display: block;
        margin: 0 auto;
        border: none;
        width: 80%;
        max-width: 40rem;
        background: #444;
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);
        margin-top: 3rem;
        border-radius: 5px;
        color: #fff;
        outline: none;
        padding: 1.2rem 5rem;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        @include respond(phone){
            padding: 1.6rem 5rem;
            font-size: 1.6rem;
        }
    }

    &__year{
        font-size: 3rem;
    }
}